body {
    background: transparent;
    background-image: url("https://i0.wp.com/media1.tenor.com/images/4ac44c8eed874188ed4b2babebe78942/tenor.gif?resize=498%2C280&ssl=1");
    color: white;
    font-family: 'Overpass Mono', monospace;
    align-content: center;

}

h1, p {
    background: transparent;
    margin: 1%;
    padding: 2%;
    border: 5px;
    border: solid;
    border-color: #00ff403b;  
    overflow: auto;

}

h3 {
    background: black;
    margin: 1%;
    padding: 1%;
    border: 4px;
    border: solid;
    border-color: #00ff403b;
}

.questionContainer {
    background: transparent;
    font-weight: bold;
    color:white;
    margin: 1%;
    padding: 1%;
    border: 4px;
    border: solid;
    border-color:#00ff403b;
    font-size: large
}

.answerContainer {
    background: transparent;
    margin: 1%;
    padding: 1.5%;
    border: 4px;
    border: solid;
    border-color:black;
    font-size: medium;
    color: white;
    
}





